body {
    background: linear-gradient(to right, darkblue, aqua, green);
    background-size: 300%;
    background-position: center;
}

section {
    max-width: 800px;
    margin: 15px auto;
}

.event-sapxep {
    display: flex;
    justify-content: space-between;
}